<div class="col-xs-10 col-xs-offset-1 page-box">
    <div class="jumbotron jumbotron-fluid lobby-header">
        <div class="container">
            <h1 class="display-3">Game Over</h1>
            <h2>Thanks for Playing</h2>

        </div>
    </div>
    <ul class="list-group">

        <li class=>
          <div class="team-info">
            <h1>team</h1>
            <h2>Answers</h2>
            <h2>Rank</h2>
          </div>
            <div id="mini-map"></div>

    </ul>
    <button ng-click='gameOverButton()' type="button" class="btn btn-primary btn-lg btn-block lrg-page-buttons">test pulling team info</button>

</div>
