<div class="col-xs-10 col-xs-offset-1 page-box">
    <div class="jumbotron jumbotron-fluid lobby-header">
        <div class="container">
            <h1 class="display-3">Game Over</h1>
            <h2>Thanks for Playing</h2>

        </div>
    </div>
    <ul class="list-group" ng-repeat="team in gameOver">

        <li class=>
          <div class="team-info">
            <h1>Team Name: {{team.teamName}}</h1>
            <h2>Correct Answers: {{team.answerList.length}}</h2>
            <h2>Time Finished: {{team.answerList[team.answerList.length -1].timestamp.hour}}:{{team.answerList[team.answerList.length -1].timestamp.minute}}</h2>
          </div>
<!-- google maps instance -->
            <div id="mini-map"></div>

    </ul>
    <button ng-click='gameOverButton()' type="button" class="btn btn-primary btn-lg btn-block lrg-page-buttons">test pulling team info</button>

</div>
