<div class="col-xs-10 col-xs-offset-1 page-box">
    <div class="how-to-box">
      <img class='howto' src="/images/How-to-page.png" alt="" />

    </div>
    <div class="clue-box tips">
        <h1> How to play </h1>
        <ol>
          <li>Get some friends, separate into teams and choose someone to be the game-leader.</li>
          <li>The game-leader creates a new game and shares the lobby code with the other teams can join. (only one phone per team is needed). </li>
          <li>When all teams are ready the game-leader starts the game</li>
          <li>Figure out where the clues referencing and get there as fast as possible and submit your location to see if you are right.</li>
          <li>The fastest team to solve all five clues or has solved the most before the timer runs out wins!</li>
        </ol>
    </div>
    <div class="clue-box tips">
        <h1> Tips on playing</h1>
        <ol>
          <li>Think outside the box! The clues are tough!</li>
          <li>Think about the route you'll take. Solving one at a time may be easy, but it could take you the long way. Plan your route!</li>
          <li>Research online, ask locals, use whatever resources you have to solve the clues.</li>
          <li>Keep an eye out for white markers in the real world they usually are where you need to be to solve the clue.</li>
        </ol>
    </div>
    <button ng-click="home()" type="button" class="btn btn-primary btn-lg btn-block lrg-page-buttons">Back</button>
</div>
