<div class="row">
    <div class="col-xs-10 col-xs-offset-1 page-box">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">Lobby Name Here</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <h1>Team Name</h1>
                <span>Ready!</span>
            </li>
            <li class="list-group-item">
                <h1>Team Name</h1>
                <span>Ready!</span>

            </li>
            <li class="list-group-item">
                <h1>Team Name</h1> <span>Ready!</span>


            </li>
            <li class="list-group-item">
                <h1>Team Name</h1>
                <span>Ready!</span>
            </li>

        </ul>
        <button type="button" class="btn btn-primary btn-lg btn-block lrg-page-buttons">Ready to Play</button>

    </div>
</div>
