<div class="col-xs-8 col-xs-offset-2 clock-box">
    <div class="clock"></div>
</div>

<div class="col-xs-10 col-xs-offset-1 page-box">

    <ul class="list-group quest-list-ul">
      <li class="quest-list-item" ng-repeat='clue in gameObj'>
      <!-- <button type="button" data-toggle="button" aria-pressed="false" name="button" ng-repeat='clue in gameObj'> -->
        <a href="#/questionpage/{{clue.id}}">
                <h1>{{clue.clue}}</h1>
        </a>
        </li>
    <!-- </button> -->
  </ul>
