<!-- <div class="questionpage">
<div id="map"></div>
<button ng-click="marker()">Check Location</button>
</div>
</div> -->
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 page-box">
      <button type="button" class="btn btn-primary btn-lg back-button" ng-click='return()'>Back</button>

      <div id="map"></div>
      <div class="clue-box">
        <p><h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </h3></p>

      </div>
      <button ng-click="marker()" type="button" class="btn btn-primary btn-lg btn-block lrg-page-buttons">Check Loctation</button>
    </div>
  </div>
