
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 page-box">
        <button ng-click="info()" type="button" class="btn btn-primary btn-lg btn-block lrg-page-buttons">How to Play</button>
        <button ng-click="newSession()" type="button" class="btn btn-primary btn-lg btn-block lrg-page-buttons">New Game Session</button>
        <button ng-click="joinSession()" type="button" class="btn btn-primary btn-lg btn-block lrg-page-buttons">Join Game Session</button>
        <button ng-click="demoMode()" type="button" class="btn btn-primary btn-lg btn-block lrg-page-buttons">Demo Mode</button>

    </div>

</div>
