<div class="col-xs-10 col-xs-offset-1 page-box">
  <div class="how-to-box">

  </div>
    <div class="clue-box">
        <h1> How to play </h1>
        <!-- Logan is a cool guy -->
        <p><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed</h3> </p>
    </div>
    <button ng-click="next()" type="button" class="btn btn-primary btn-lg btn-block lrg-page-buttons">Next Page</button>
</div>
