<div class="row">
    <div class="col-xs-10 col-xs-offset-1 page-box">
        <ul class="list-group">
            <li class="list-group-item">
                <h1>Team Name</h1>
                <span>Ready!</span>
            </li>
            <li class="list-group-item">
                <h1>Team Name</h1>
                <span>Ready!</span>

            </li>
            <li class="list-group-item">
                <h1>Team Name</h1>                <span>Ready!</span>


            </li>
            <li class="list-group-item">
                <h1>Team Name</h1>
                <span>Ready!</span>
            </li>

        </ul>
        <button type="button" class="btn btn-primary btn-lg btn-block lrg-page-buttons">Join Game Session</button>

    </div>
</div>
