<div class="row">
    <div class="col-xs-10 col-xs-offset-1 page-box">
        <div class="jumbotron jumbotron-fluid lobby-header">
            <div class="container">
                <h1 class="display-3">Game Session Lobby</h1>
                <h2>Lobby Code: {{displayCode}}</h2>
                <h4>Share your code with your opponents!</h4>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat='team in Game track by $index'>
                <h1>{{team}}</h1>
        </ul>
        <button type="button" class="btn btn-primary btn-lg btn-block lrg-page-buttons" ng-click="session()">Ready to Play</button>

    </div>
</div>
