<div class="row">
    <div class="col-xs-10 col-xs-offset-1 page-box">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="label label-default label-pill pull-xs-right">14</span>
          Cras justo odio
        </li>
        <li class="list-group-item">
          <span class="label label-default label-pill pull-xs-right">2</span>
          Dapibus ac facilisis in
        </li>
        <li class="list-group-item">
          <span class="label label-default label-pill pull-xs-right">1</span>
          Morbi leo risus
        </li>
      </ul>
    </div>
</div>
