<!-- <div class="questionpage">
<div id="map"></div>
<button ng-click="marker()">Check Location</button>
</div>
</div> -->
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 page-box">
        <button type="button" class="btn btn-primary btn-lg back-button" ng-click='return()'>Back</button>
        <div class="map-box">
            <div id="map"></div>
        </div>
        <div class="clue-box" ng-model="clue">
            <p>
                <h1>
          {{clue.clue}}
        </h1>
            </p>
            <p>
              <h2>
                Answer: <span ng-show= "$scope.correct === true">{{clue.locationName}}</span>
              </h2>
            </p>

        </div>
        <button ng-click="marker()" type="button" class="btn btn-primary btn-lg btn-block lrg-page-buttons">Check Loctation</button>
    </div>
</div>
