<div class="col-xs-8 col-xs-offset-2 clock-box">
    <div class="clock"></div>
</div>

<div class="col-xs-10 col-xs-offset-1 page-box">
    <button type="button" class="btn btn-primary btn-lg back-button" ng-click="goback()">Back</button>

    <ul class="list-group">

      <button type="button" data-toggle="button" aria-pressed="false" name="button" ng-repeat='clue in gameObj'>
        <a href="#/questionpage/{{clue.id}}">
            <li ng-if='clue.clue !== clue.answer'class="list-group-item lobby-list-item">
                <h1>{{clue.clue}}</h1>
                <hi>{{clue.answer}}</h1>
            </li>
        </a>
    </button>
