body {
  overflow: scroll;
  background: linear-gradient(to bottom, rgba(245, 231, 171, 0.7), rgba(245, 231, 171, 0.7)), url(../images/charleston_1869.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right; }

.temp-links {
  display: block; }

.title-header {
  background-color: rgba(108, 173, 169, 0.9);
  height: 4%;
  -webkit-box-shadow: 0 21px 26px -9px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 0 21px 26px -9px rgba(0, 0, 0, 0.56);
  box-shadow: 0 21px 26px -9px rgba(0, 0, 0, 0.56); }
  .title-header h1 {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: bolder;
    color: #faf9f5;
    font-size: 7em;
    text-shadow: #030303 2px 7px 7px; }

.back-button {
  color: #faf9f5;
  background-color: #D96F52;
  font-family: 'PT Sans', sans-serif;
  font-size: 4em;
  width: 45%;
  padding: 1%;
  margin-bottom: 3%;
  margin-top: 3%;
  -webkit-box-shadow: 5px 16px 15px -1px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 5px 16px 15px -1px rgba(0, 0, 0, 0.56);
  box-shadow: 5px 16px 15px -1px rgba(0, 0, 0, 0.56); }

.how-to-box {
  background-color: #F27D5C;
  height: 50em;
  width: 100%; }

.lrg-page-buttons {
  color: #faf9f5;
  font-family: 'PT Sans', sans-serif;
  font-size: 5em;
  background-color: #D96F52;
  padding: 8%;
  margin-top: 5%;
  margin-bottom: 10%;
  -webkit-box-shadow: 5px 16px 15px -1px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 5px 16px 15px -1px rgba(0, 0, 0, 0.56);
  box-shadow: 5px 16px 15px -1px rgba(0, 0, 0, 0.56); }

.form-group {
  background-color: #6CADA9;
  margin-bottom: 10%;
  margin-top: 5%;
  -webkit-box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75); }
  .form-group h1 {
    text-align: center;
    color: #faf9f5; }

.map-box {
  background-color: lightblue;
  height: 50em;
  width: 100%;
  margin-bottom: 5%;
  -webkit-box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75); }

#map {
  height: 100%;
  width: 100%; }

.clue-box {
  color: #faf9f5;
  background-color: #6CADA9;
  margin-top: 5%;
  padding: 3%;
  border-radius: 3%;
  -webkit-box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75); }

.lobby-list-item {
  text-align: center;
  color: #faf9f5;
  font-size: 2em;
  text-shadow: #030303 1px 3px 3px;
  background-color: #85D6D1;
  border-radius: 10px;
  margin-bottom: 5%;
  min-height: 15%;
  -webkit-box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75); }

.lobby-header {
  color: #faf9f5;
  font-size: 2em;
  text-shadow: #030303 4px 2px 7px;
  background-color: #F27D5C;
  border-radius: 5px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  -webkit-box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75); }

#lobby-code {
  font-style: italic;
  font-weight: bolder;
  font-size: 2em; }

.clock-box {
  text-align: center;
  background-color: #F27D5C;
  padding: 2%;
  margin-bottom: 5%;
  border-radius: 5px;
  -webkit-box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75); }
  .clock-box .clock {
    width: auto;
    margin: auto 0; }

.flip-clock-wrapper {
  display: inline-block;
  width: auto; }

.quest-list-item {
  color: #faf9f5;
  text-shadow: #030303 1px 3px 3px;
  background-color: #85D6D1;
  margin-bottom: 5%;
  min-height: 20%;
  -webkit-box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75); }

.mini-map {
  background-color: lightblue;
  height: 25em;
  width: 100%;
  margin-bottom: 5%;
  -webkit-box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75); }

.team-info {
  display: inline-block;
  background-color: lightgreen;
  width: 50%;
  height: 25em;
  -webkit-box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 8px 41px -7px rgba(0, 0, 0, 0.75); }
