body {
  background: linear-gradient(rgba(13, 126, 17, 0.9), rgba(13, 126, 17, 0.9)), url(../images/charleston_1869.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right; }
