body {
  background: linear-gradient(rgba(245, 231, 171, 0.9), rgba(245, 231, 171, 0.9)), url(../images/charleston_1869.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right; }

.jumbotron {
  background-color: #6CADA9; }
  .jumbotron h1 {
    color: #e6e4da; }

.angular-google-map-container {
  display: inline-block;
  height: 20em;
  width: 30em;
  margin-left: 20em; }
