body {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(13, 126, 17, 0.6),
      rgba(13, 126, 17, 0.6)
    ),
    /* bottom, image */
    url(../images/charleston_1869.jpg);
    background-size: auto;;
    background-repeat: no-repeat;
}
